body {
	padding-top: 50px;
}

h3 {
	margin-top: 40px;
}

a, a:hover{
	text-decoration: none;
	color: #BC00D1;
}

a:hover {
	color: #00BCD1;
}

.center {
	padding: 10px 15px;
	text-align: center;
}

#mu {
	margin-right: 10px;
}
